{% extends "quotesapp/base.html" %}

<!--{% load poll_extras %}-->

{% block content %}


<h1>All quotes</h1>

{% for el in quotes %}

<div class="card" ,>
    <div class="card-body">
        <strong class="author-name">{{ el.show_quote_author }}</strong>
        <a href="author/{{ el.show_quote_author }}" class="btn btn-primary">More about author</a>
        <p class="card-text">{{ el.show_quote_text }}</p>
        {% for tag in el.show_quote_tags %}
        <a href="tag/{{ tag }}" class="btn btn-primary">|{{ tag }}|</a>
        {% endfor %}
        <hr>
    </div>
</div>
{% endfor %}


{% endblock %}
